<%= render "shared/user_box", user: @user %>
<div class = "bio-box-container">
  <div class = "bio-box">
    <p>Bio</p>
    <br>
    <p><%=@user.bio%></p>
  </div>
</div>
<% @posts.limit(3).each do |post| %>
  <%= render "shared/post_box", post: post %>
<% end %>
<div class = "btn-container">
  <button class = "see-all-posts">See all posts</button>
</div>