<% @comments = Comment.where(post_id: post.id) %>
  <div class = "comments-box-container">
    <div class = "comments-box">
      <% @comments.limit(limit).each do |comment| %>
      <% user = User.find(comment.author_id) %>
        <div class ="flex justify-between">
          <p class = "comment-box whitespace-normal w-auto"><%= user.name %>: <%= comment.text %></p>
          <% if can? :destroy, comment %>
            <%= render partial: 'posts/delete', locals: { model: comment, url: user_post_comment_path(post.author, post, comment) } %>   
          <% end %>
        </div>
      <% end %>
    </div>
  </div>