<div class = "bio-box-container">
  <div class = "bio-box">
    <p>Post #<%= post.author_id %></p>
    <br>
    <p><%= post.text %></p>
    <p class = "counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
  </div>
</div>