<div class = "bio-box-container">
  <div class = "bio-box">
    <p>Post #<%= post.id %></p>
    <br>
    <p><%=  post.text.truncate_words(25) %>...</p>
    <p class = "counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
  </div>
</div>